body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    font-weight: 500;
    color: #2E2F42;
    background-color: #FCFCFC;
}

header {
    background-color: #E7E9FC;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1,07;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1,1;
}

h3 {
    font-size: 20px;
    line-height: 1,2;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: #434455;
}

.accent {
    color: #4D5AE5;
}

.accent-ps {
    color: #2E2F42;
}

.accent-mn {
    line-height: 1,2;
    font-size: large;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-decoration: none;
}

.accent-rt {
    color: #F4F4FD;
}

.cont .link {
    text-decoration: none;
    font-weight: 400;
    color: #434455;
    font-style: normal;
}

.cont .link:hover,
.cont .link:focus {
    color: #404BBF;
    text-decoration: underline;
}

.page-nav .body-m {
    font-size: medium;
    color: #2E2F42;
    text-decoration: none;
}

.page-nav .body-m:hover,
.page-nav .body-m:focus {
    color: #404BBF;
    text-decoration: underline;
}

button {
    color: #4D5AE5;
    cursor: pointer;
    font-size: 16px;
    line-height: 1,5;
}

button:hover,
button:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

.order {
    color: #FFFFFF;
    background-color: #4D5AE5;
}

footer {
    background-color: #2E2F42;
}

.fot-tex {
    font-size: 16px;
    font-weight: 400;
    color: #F4F4FD;
}